Repository AndryOre/giftstorming-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint

.lintstagedrc:

{
	"*.html": "prettier",
	"./src/scripts/*.js": ["eslint" , "prettier"]
}

fix: 🐛 add js file to tailwind content
  tailwind.config.js
Due: none

fix: 🐛 ui minor changes
  src/index.html
  src/scripts/loader.js
Due: prettier, eslint

perf: ⚡️ add new i18n property to translate placeholders
  src/index.html
  src/scripts/utils/translations.js
Due: prettier

perf: ⚡️ increase max tokens for better responses
  src/scripts/utils/openAi.js
Due: none

refactor: ♻️ enhance prompt, modify function to handle the response from new prompt, modiy ui styles
  src/scripts/giftIdeas.js
Due: prettier, eslint

fix: 🐛 check for empty input before adding interest
  src/scripts/interests.js
Due: prettier, eslint

fix: 🐛 check for at least one interest
  src/locales/en/translation.json
  src/locales/es/translation.json
  src/scripts/formHandler.js
Due: prettier, eslint

perf: ⚡️ add new i18n property to translate input values
  src/scripts/utils/translations.js
Due: none

perf: ⚡️ add i18n property to input values
  src/index.html
Due: prettier

perf: ⚡️ add translation for budgetRange value with interpolation
  src/locales/en/translation.json
  src/locales/es/translation.json
  src/scripts/budget.js
Due: prettier, eslint

chore: ⚰️ remove comment
  src/scripts/budget.js
Due: prettier, eslint

chore: ⚰️ remove comments
  src/scripts/giftIdeas.js
Due: prettier, eslint

perf: ⚡️ add translation for priceRange
  src/locales/en/translation.json
  src/locales/es/translation.json
Due: none

feat: ✨ add text help for interest and interest remaining count
  src/index.html
  src/locales/en/translation.json
  src/locales/es/translation.json
  src/scripts/interests.js
Due: prettier, eslint

fix: 🐛 modify addInterest function for add when press comma
  src/scripts/interests.js
Due: prettier, eslint

fix: 🐛 fix interest counter when input is empty
  src/scripts/interests.js
Due: prettier, eslint

fix: 🔧 fix eslint config
  .eslintrc.cjs
Due: none

refactor: 🚨 fix eslint errors
  postcss.config.js
  src/scripts/budget.js
  src/scripts/formHandler.js
  src/scripts/giftIdeas.js
  src/scripts/i18n.js
  src/scripts/index.js
  src/scripts/interests.js
  src/scripts/langSwitch.js
  src/scripts/loader.js
  src/scripts/themeSwitch.js
  src/scripts/utils/openAi.js
  src/scripts/utils/translations.js
  tailwind.config.js
  vite.config.js
Due: prettier, eslint

chore: 🧑‍💻 add config for auto open server and expose
  package.json
  vite.config.js
Due: none
