Repository AndryOre/giftstorming-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint

chore: 🔥 remove unnecessary code from boilerplate
  src/locales/en/translation.json
  src/locales/es/translation.json
  src/scripts/counter.js
  src/scripts/index.js
  src/scripts/utils/translations.js
Due: prettier, eslint

chore: 🔥 remove unnecessary code from boilerplate and update meta tags
  src/index.html
Due: prettier

chore: 🍱 update og image url
  src/index.html
Due: prettier

chore: 🔍️ update og meta tags
  src/index.html
Due: prettier

chore: 🔨 add host script for expose vite
  package.json
Due: none

fix: 🐛 change the themeSwitch icon when theme changes
  src/scripts/themeSwitch.js
Due: prettier, eslint

feat: 💄 improve langSwitch ui
  src/scripts/langSwitch.js
Due: prettier, eslint

feat: ✨ add header
  src/index.html
Due: prettier

feat: ✨ add footer
  src/index.html
Due: prettier

feat: ✨ extend width and height
  tailwind.config.js
Due: none

chore: 🔥 remove unnecessary assets from boilerplate
  public/assets/images/javascript.svg
  public/assets/images/vite.svg
Due: none

chore: 🍱 add assets
  public/assets/images/anniversary.png
  public/assets/images/birthday.png
  public/assets/images/christmas.png
  public/assets/images/couple.png
  public/assets/images/coworker.png
  public/assets/images/digital.png
  public/assets/images/experience.png
  public/assets/images/family.png
  public/assets/images/female.png
  public/assets/images/friend.png
  public/assets/images/graduation.png
  public/assets/images/male.png
  public/assets/images/non-binary.png
  public/assets/images/not-relevant.png
  public/assets/images/physical.png
Due: none

feat: 🚧 building form
  src/index.html
Due: prettier

feat: 🚧 add interest input to form
  src/index.html
Due: prettier

feat: 🚧 building budget range slider
  src/index.html
Due: prettier

feat: 🚧 add interest input interactivity
  src/index.html
  src/scripts/index.js
  src/scripts/interests.js
Due: prettier, eslint

refactor: ♻️ simplify budget ui
  src/index.html
Due: prettier

build: ⬆️ upgrade dependencies
  package.json
Due: none

fix: 🐛 add event handler for gift budget input
  src/scripts/budget.js
  src/scripts/index.js
Due: prettier, eslint

fix: 🐛 set requeried inputs
  src/index.html
  src/scripts/interests.js
Due: prettier, eslint

perf: 🩹 set names to all inputs
  src/index.html
  src/scripts/budget.js
  src/scripts/index.js
  src/scripts/interests.js
Due: prettier, eslint

chore: 🍱 add logo to header and favicon
  public/assets/images/logo.svg
  src/index.html
Due: prettier

refactor: ♻️ simplify budgetRange to arrow function and export only this
  src/scripts/budget.js
Due: prettier, eslint

feat: ✨ export interests array
  src/scripts/interests.js
Due: prettier, eslint

feat: ✨ add formHandler to create object when user submit form
  src/scripts/formHandler.js
  src/scripts/index.js
Due: prettier, eslint

fix: 🐛 change form method to post
  src/index.html
Due: prettier

feat: ✨ add English and Spanish translations
  src/index.html
  src/locales/en/translation.json
  src/locales/es/translation.json
Due: prettier

chore: 📄 add MIT license
  LICENSE
Due: none

docs: 📝 add README.md
  README.md
Due: none

fix: 🐛 set required inputs
  src/index.html
Due: prettier

build: ➕ add dotenv and .env.example for handle openAi secret key
  .env.example
  package.json
Due: none

build: ➖ remove dotenv
  .env.example
  package.json
Due: none

feat: ✨ add openAi util for fetch
  src/.env.example
  src/scripts/utils/openAi.js
Due: none

perf: ⚡️ change model, setup max tokens and remove trim
  src/scripts/utils/openAi.js
Due: none

feat: ✨ add functions to generate prompt with form data, fetch with prompt and display output
  src/scripts/giftIdeas.js
Due: prettier, eslint

feat: ✨ add call getGiftIdeas and export giftData
  src/scripts/formHandler.js
Due: prettier, eslint

feat: ✨ set fixed footer
  src/index.html
Due: prettier

feat: ✨ add lottiefiles player
  src/index.html
Due: prettier

feat: ✨ add loader while fetching
  src/scripts/formHandler.js
  src/scripts/loader.js
Due: prettier, eslint

fix: 🐛 fix classes for center all
  src/scripts/loader.js
Due: prettier, eslint

Path conditions:
  prettier: (any of: *.html) or (any of: ./src/scripts/*.js)
  eslint: any of: ./src/scripts/*.js
